<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1077704856205-ui7iq83hk3n1tk72su08p2dn8635cn0l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1077704856205-ui7iq83hk3n1tk72su08p2dn8635cn0l</string>
	<key>API_KEY</key>
	<string>AIzaSyA5Lr1TyRcOM6LS67sANeTmzSjqvKd-F30</string>
	<key>GCM_SENDER_ID</key>
	<string>1077704856205</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.LiftTracker</string>
	<key>PROJECT_ID</key>
	<string>lift-tracker-89ced</string>
	<key>STORAGE_BUCKET</key>
	<string>lift-tracker-89ced.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<false/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1077704856205:ios:f1ee5548f50238bb</string>
	<key>DATABASE_URL</key>
	<string>https://lift-tracker-89ced.firebaseio.com</string>
</dict>
</plist>
